<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품상세</title>
  <style>
    #delModal::backdrop {
      background-color: rgba(99, 100, 255, 0.2);
    }
    #delModal {
      border: none;
      outline: none;
      border-radius: 5%;
      background-color: rgba(99, 100, 255, 0.5);
      box-shadow: 5px 5px 3px 1px gray;
    }
  </style>
</head>
<body>
  <h3>상품조회</h3>
<!--  <label for="">상품번호</label><input type="text" th:value="${productId}"> 저번시간에 했던거-->
  <form action="#" method="post">
    <div><label for="productId">상품번호</label><input id="productId" type="text" th:value="${product.productId}" readonly></div>
    <div><label for="pname">상품명</label><input id="pname" name="pname" type="text" th:value="${product.pname}" readonly></div>
    <div><label for="quantity">수량</label><input id="quantity" name="quantity" type="text" th:value="${product.quantity}" readonly></div>
    <div><label for="price">가격</label><input id="price" name="price" type="text" th:value="${product.price}" readonly></div>
    <div>
      <input id="modifyBtn" type="button" value="수정">
      <input id="deleteBtn" type="button" value="삭제">
      <input id="listBtn" type="button" value="목록">
    </div>
  </form>
  <dialog id="delModal">
    <p>삭제하시겠습니까?</p>
    <form action="" method="dialog">
      <button id="cancelBtn">취소</button>
      <button id="delItemBtn">삭제</button>
    </form>
  </dialog>

  <script>
    const $modifyBtn = document.getElementById('modifyBtn'); // 수정
    const $deleteBtn = document.getElementById('deleteBtn'); // 삭제
    const $listBtn = document.getElementById('listBtn'); // 목록
    const pid = document.getElementById('productId').value; // GET방식 pid 찾기

    // 목록------------------------------------
    $listBtn.addEventListener('click', e => {
      location.href = '/products';          // GET, http://서버주소 or 서버도메인/products
    }, false);

    // 삭제-------------------------------------
    $deleteBtn.addEventListener('click', e => {
    // if(!window.confirm('삭제 하시겠습니까?')) { return; }
      $delModal.showModal(); // 모달창 띄우기
    });

    // 수정---------------------------------------
    $modifyBtn.addEventListener('click', e => {
    // const pid = document.getElementById('productId').value;
      location.href = `/products/${pid}/edit`; // GET, http://서버주소/products/상품번호/edit
    });

    /* ---------- 모달창 ---------------------------------------------*/
    const $delModal = document.getElementById('delModal');    //삭제 모달창
    const $cancelBtn = document.getElementById('cancelBtn');   //취소버튼 모달창
    const $delItemBtn = document.getElementById('delItemBtn'); //삭제버튼 모달창

    $delModal.addEventListener('close',evt=>{
      if($delModal.returnValue == 'ok'){
        location.href = `/products/${pid}/del`; // GET http://서버주소 or 서버도메인/products/상품번호/del
      }
    });

    // 취소버튼 모달창
    $cancelBtn.addEventListener('click', evt=>{
      $delModal.close('cancel');
    });

    // 삭제버튼 모달창
    $delItemBtn.addEventListener('click', evt=>{
      $delModal.close('ok');
    });
    /*--------------------- 모달창 끝 --------------------------------------*/
  </script>

</body>
</html>
